<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <div>
            <h1>Create a new project</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type=text name="name">
                <textarea name="description">
                <select name="members" id="members">
                    <option value="member">{{ project.members.all }}</option>
                </select> 
            </form>
        </div>
    </main>
</body>
</html>